<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Debere/regression_salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sklearn.metrics import mean_absolute_error, median_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
salary=pd.read_csv("Salary Data (2).csv")
salary.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [15]:
le=LabelEncoder()
salary["Gender_le"]=le.fit_transform(salary["Gender"])
salary["Education level_le"]=le.fit_transform(salary["Education Level"])
salary["Job Title_le"]=le.fit_transform(salary["Job Title"])
salary.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Gender_le,Education level_le,Job Title_le
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,1,0,159
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,0,1,17
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,1,2,130
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,0,0,101
4,52.0,Male,Master's,Director,20.0,200000.0,1,1,22

In [16]:
salary.drop(columns=["Gender","Education Level", "Job Title"], inplace=True)

In [17]:
new_column_order = ["Age","Gender_le",	"Education level_le",	"Job Title_le", "Years of Experience",	"Salary"]
salary = salary.reindex(columns=new_column_order)
salary.head(85)

,Age,Gender_le,Education level_le,Job Title_le,Years of Experience,Salary
0,32.0,1,0,159,5.0,90000.0
1,28.0,0,1,17,3.0,65000.0
2,45.0,1,2,130,15.0,150000.0
3,36.0,0,0,101,7.0,60000.0
4,52.0,1,1,22,20.0,200000.0
...,...,...,...,...,...,...
80,36.0,1,0,165,8.0,70000.0
81,41.0,0,1,17,13.0,80000.0
82,25.0,1,0,106,0.0,30000.0
83,52.0,1,2,8,24.0,250000.0
84,29.0,0,0,56,2.0,40000.0

In [20]:
missing_values_salary = salary.isnull().sum()
print("empty cells in  salary:", missing_values_salary)

Liczba pustych wartości w kolumnie salary: Age                    0
Gender_le              0
Education level_le     0
Job Title_le           0
Years of Experience    0
Salary                 0
dtype: int64

In [19]:
salary.fillna(salary.mean(), inplace=True)

In [21]:
#podział na zbiór treningowy i testowy
salary["Salary"].value_counts()

Salary
40000.000000     31
50000.000000     22
95000.000000     22
180000.000000    20
120000.000000    20
90000.000000     18
150000.000000    18
45000.000000     18
160000.000000    17
60000.000000     17
110000.000000    17
170000.000000    16
130000.000000    14
100000.000000    14
140000.000000    14
35000.000000     13
80000.000000     12
55000.000000     10
85000.000000     10
70000.000000      9
65000.000000      9
105000.000000     6
190000.000000     4
75000.000000      4
115000.000000     3
250000.000000     2
200000.000000     2
135000.000000     2
175000.000000     2
100577.345845     2
125000.000000     1
30000.000000      1
220000.000000     1
185000.000000     1
145000.000000     1
155000.000000     1
350.000000        1
Name: count, dtype: int64

In [22]:
X = salary[["Age","Gender_le",	"Education level_le",	"Job Title_le", "Years of Experience"]]
y = salary["Salary"]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
print("Training set - Salary distribution:\n", y_train.value_counts())
print("Testing set - Salary distribution:\n", y_test.value_counts())

Training set - Salary distribution:
 Salary
40000.000000     24
95000.000000     18
45000.000000     16
120000.000000    16
180000.000000    16
50000.000000     16
150000.000000    15
90000.000000     14
60000.000000     14
130000.000000    14
110000.000000    14
160000.000000    13
170000.000000    12
35000.000000     11
80000.000000     11
100000.000000    10
140000.000000     9
85000.000000      9
55000.000000      9
70000.000000      8
65000.000000      6
105000.000000     5
190000.000000     3
175000.000000     2
200000.000000     2
115000.000000     2
135000.000000     2
75000.000000      2
145000.000000     1
155000.000000     1
250000.000000     1
100577.345845     1
185000.000000     1
350.000000        1
220000.000000     1
Name: count, dtype: int64
Testing set - Salary distribution:
 Salary
40000.000000     7
50000.000000     6
140000.000000    5
100000.000000    4
170000.000000    4
180000.000000    4
160000.000000    4
120000.000000    4
95000.000000     4
90000.000000     4
110000.000000    3
65000.000000     3
150000.000000    3
60000.000000     3
35000.000000     2
45000.000000     2
75000.000000     2
55000.000000     1
115000.000000    1
250000.000000    1
85000.000000     1
190000.000000    1
100577.345845    1
70000.000000     1
105000.000000    1
80000.000000     1
125000.000000    1
30000.000000     1
Name: count, dtype: int64

In [24]:
X_train.value_counts()

Age   Gender_le  Education level_le  Job Title_le  Years of Experience
35.0  0          0                   131           8.0                    5
38.0  0          0                   110           10.0                   3
33.0  1          0                   49            4.0                    3
47.0  1          1                   29            19.0                   2
29.0  1          0                   51            1.5                    2
                                                                         ..
34.0  1          0                   141           7.0                    1
                                     145           9.0                    1
                 1                   4             8.0                    1
                                     152           8.0                    1
53.0  1          1                   29            25.0                   1
Name: count, Length: 259, dtype: int64

In [28]:
regression = LinearRegression().fit(X_train, y_train)
r_squared_train = regression.score(X_train, y_train) #pobranie R^2
print("R^2 train zasób:", r_squared_train)
coefficients = regression.coef_
wyraz_wolny = regression.intercept_
print("współczynnik nachylenia:", coefficients)
print("wyraz wolny:", wyraz_wolny)

R^2 train zasób: 0.8968273529283493
współczynnik nachylenia: [ 3352.87831992  6505.17957781 13695.97444713    34.41091897
  2365.55505101]
wyraz wolny: -62874.171054994615

In [29]:
y_2=regression.predict(X_test)

In [36]:
mean_absolute_error(y_test,y_2)

11034.937092871898

In [38]:
median_absolute_error(y_test,y_2)

6916.361999639077